# Binaries from `make build`
bin/

# https://github.com/tmknom/makefiles
.makefiles/

# Tools for environment variables
.envrc
.env

# Editors
.idea/
.vscode/

# General
.DS_Store
tmp/
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
