name: Lint Go
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/lint-go.yml"
  pull_request:
    paths:
      - "**.go"
      - "!.github/workflows/lint-go.yml"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Install dependencies
        run: make install-tools
      - name: Static analysis by vet
        run: make vet
      - name: Check format by goimports
        run: |
          make goimports
          test -z "$(git status -s | tee /dev/stderr)"
