name: Test
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/test.yml"
  pull_request:
    paths:
      - "**.go"
      - "go.sum"
      - "go.mod"
      - "!.github/workflows/test.yml"

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - name: Run test
        run: go test ./...
